@media only screen and (max-width:990px){.article-sent{
text-align: center;}

    .article-cent img{margin: auto;
}
}

@media only screen and (max-width: 800px){
.hero-bg h1 {
float:none;
width:100%;
text-align: center;
font-size: 5.125em;
letter-spacing: -2px;
font-weight:800;
line-height: 75%; 
margin-top:60%;
padding-bottom: 10%;   
}

    .herobg{
background-position: -100px center;
}
}

@media only screen and (max-width:500px){
    .particle{text-align: center;
margin-right: 0px;}

    .about-text{
        margin-left: 0px;
margin-right: 0px;
font-size: 1.0em;
    }


}